@use "../mixin.scss" as mixin;

.dsc {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  background-color: #f6f1ee;
  color: black;
  justify-content: center;
  align-items: center;
  .dscDescription {
    font-family: Krylon;
    font-size: 45px;
    text-align: justify;
    width: 800px;
  }
  .foot {
    position: absolute;
    bottom: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .dsc {
    .dscDescription {
      font-size: 30px;
      font-size: 25px;
      width: 200px;
      font-weight: 500;
    }
    .foot {
      font-size: 10px;
    }
  }
}
