@font-face {
  font-family: switzerbold;
  src: url("../src/Fonts/OTF/Switzer-Bold.otf") format("otf");
  font-family: libre;
  src: url("../src/Fonts/OTF/LibreCaslonCondensed-Regular.otf") format("otf");
  font-family: Krylon;
  src: url("../src/Fonts/OTF/Krylon-Regular.otf") format("otf");
}
